
body {
    background-color: #382121;
    color:white;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #56949f;
    transition: .5s;
}
a:hover {
    color: #286983;
    transition: .2s;
}

.navbelt {
    height: 3em;
    background-color: #4d2f2f;
}

.mainContent{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 6em);
}

.reviewFeed{
    display: flex;
    flex-direction: column;
    background-color: #301c1c;

    height: calc(100vh - 6em);

    overflow:auto;
    padding: 20px;
    margin-left: 3em;
    margin-right: 3em;
    max-width: 60em;
    max-width: 30em;
    padding-bottom: 30px;
}


.reviewCard{
    display: flex;
    background-color: #4d2f2f;
    color: #dacbcb;
    align-items: right;

    height: 10em;
    max-width: 50em;
    min-width: 20em;

    padding: 1em;
    margin: 1em;
    transition: .2s;
    border-radius: 0 1em 1em 0 ;
}

.reviewCard > img{
    height: 100%;
    padding-right: .2em;
}
.reviewCard > div > a > h1{
    font-size: 1.2em;
}
.reviewCard > div > h2{
    font-size: 1em;
}

.reviewCard:hover{
    transform: rotate(2deg);
    transition: .5s;
    background-color: #603e3e;
}

.cardDetail{
    display: flex;
    flex-direction: row;
    background-color: #301c1c;
    color: #dacbcb;
    max-width: calc(100vw - 10em - 60em);
    min-width: calc(100vw - 10em - 30em);
    padding: 2em;
    overflow-y: auto;
}

.cardDetail > div > div > img{
    margin: 1em;
    margin-right: 4em;
    height: 20em;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #301c1c; 
}
::-webkit-scrollbar-thumb {
    background: #4d2f2f; 
}
::-webkit-scrollbar-thumb:hover {
    background: #603e3e;
}



@media screen and (max-width: 1040px) {

    .navbelt{
        height: 6em;
    }

    .reviewFeed{
        display: none;
    }

    .cardDetail{
        max-width: calc(100vw - 2em);
        min-width: calc(100vw - 2em);
        margin-left: 1em;
    }

  }



  /* Added for Profile*/

  .profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.profileHeader {
    text-align: center;
    margin-bottom: 2em;
}

.profileDetails {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.profileBox {
    background-color: #4d2f2f;
    color: #dacbcb;
    padding: 1em;
    border-radius: 0 1em 1em 0;
    transition: .2s;
    text-align: center;
}

.profileBox h2 {
    font-size: 1.5em;
    color: #dacbcb;
}

.profileBox p {
    font-size: 1.2em;
    margin: 0;
}

.profileBox:hover {
    transform: rotate(2deg);
    transition: .5s;
    background-color: #603e3e;
}

.editProfileLink {
    color: #56949f;
    margin-top: 1em;
    transition: .5s;
    text-decoration: none; /* Remove underline */
}

.editProfileLink:hover {
    color: #286983;
    transition: .2s;
}