{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

{% block title %}Profile Overview{% endblock title %}

{% block content %}
    <div class="profilepage">
        <div class="profileHeader">
            <h1>{{ user.username }}'s Profile Overview</h1>
            <p>Email: {{ user.email }}</p>
        </div>

        <div class="profileDetails">
            <div class="profileBox">
                <h2>Favorite Movie</h2>
                <p>{{ profile.favorite_movie }}</p>
            </div>

            <div class="profileBox">
                <h2>Age</h2>
                <p>{{ profile.age }}</p>
            </div>
            <!-- Add more profile boxes for additional information -->
        </div>

        <a href="{% url 'edit_profile' %}" class="editProfileLink">Edit Profile</a>
    </div>
{% endblock content %}


