{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

{% block title %}Profile Overview{% endblock title %}

{% block content %}
    <div class="profilepage">
        <div class="profileHeader">
            <h1>{{ review.author.username }}'s Profile Overview</h1>
            <p>Email: {{ review.author.email }}</p>
        </div>

        <div class="profileDetails">
            <div class="profileBox">
                <h2>Favorite Movie</h2>
                <p>{{ profile.favorite_movie }}</p>
            </div>

            <div class="profileBox">
                <h2>Age</h2>
                <p>{{ profile.age }}</p>
            </div>
            <!-- Add more profile boxes for additional information -->
        </div>

        <div class="editpermissions">

            {% if request.user == review.author %}
                <a href="{% url 'edit_profile' %}" class="editProfileLink">Edit Profile</a>
            {% endif %}

            {% if profile %}

                <h1>{{ review.author.username }}'s Movie Collection</h1>

                <strong> Follows </strong><br/>
                {% for following in profile.follows.all %}
                    <a href="{% url 'profile' following.user.id %}"> {{ following }}</a></br>
                {% endfor %}

                </br></br>
                <strong>Followed by </strong></br>
                {% for following in profile.followed_by.all %}
                    <a href="{% url 'profile' following.user.id %}">
                        {{ following }}
                    </a></br>
                {% endfor %}
                <form method=POST>
                    {% csrf_token %}
                    {% if profile in review.author.profile.follows.all %}
                        <button name="follow" value="unfollow" type="submit">Unfollow {{ review.author.username }}</button>
                    {% else %}
                        <button name="follow" value="follow" type="submit">Follow {{ review.author.username }}</button>
                    {% endif %}    
                </form>
            {% endif %}
        </div>
        
    </div>
{% endblock content %}
