{% extends "reviewBase.html" %}

{% block content %}

{% if profile %}

    <div style="display: flex; padding-left: 1em; padding-top: 2em">
        <div class="reviewFeed" style="margin-left: 0">
            <h1>{{ profile.user.username }}'s Reviews</h1>
            {% for review in reviews%}
                <div class="reviewCard">
                    <image src="{{review.thumbnail}}"></image>

                    <div style="padding-left: 1em">
                        <a href="{% url 'review_detail' review.pk %}"><h1>{{ review.title }}</h1></a>
                        <h2>Written By: {{ review.author }}</h2>
                        <p> {{review.movie}} </p>
                    </div>
                    
                </div>
            {% endfor %}
        </div>

        <div style="display:flex;flex-direction:column">
            <div style=" display: flex; flex-direction: column; background-color: #301c1c; color: #dacbcb; width: 90%; height: 40em; padding: 2em; overflow-y: auto;">
                {{profile.biography}}
                
            </div>
            {% if user == profile.user %}
                <a href="{% url 'profileEditBio' %}">Edit Bio</a>
                {% endif %}

            <div style="padding-left: 2em; display: flex; flex-direction: row">
                <div style="padding-left: 2em;">
                    <strong> Follows </strong><br/>
                    {% for following in profile.follows.all %}
                        <a href="{% url 'profile' following.user.id %}"> {{ following }}</a></br>
                
                    {% endfor %}
                </div>

                <div style="padding-left: 2em;">
                    <strong>Followed by </strong></br>
                    {% for following in profile.followed_by.all %}
                        <a href="{% url 'profile' following.user.id %}">
                            {{ following }}
                        </a></br>
                    {% endfor %}

                    <form method=POST>
                        {% csrf_token %}
                        {% if profile in user.profile.follows.all %}
                        <button name="follow" value="unfollow" type="submit">Unfollow {{ profile.user.username }}</button>
                        {% else %}
                        <button name="follow" value="follow" type="submit">Follow {{ profile.user.username }}</button>
                        {% endif %}    
                    </form>
                </div>
            </div>
        </div>

    </div>

    
    

{% endif %}

{% endblock %}