{% extends "home.html" %}

{% block title %}{{review.title}}{% endblock title %}



{% block reviewDetail %}

    <style>
        @media screen and (max-width: 1040px) {
        
            .reviewFeed{
                display: none;
            }
            
            .cardDetail{
                display: flex;
                max-width: calc(100vw - 2em);
                min-width: calc(100vw - 2em);
                margin-left: 1em;
            }
        }
    </style>
    <div style="display: flex; flex-direction: row;">
    <div style="display: flex; flex-direction: column;">
        <div>
            <image src="{{review.thumbnail}}"></image>
        </div>
        <div>
              
            <h1>{{review.title}}</h1>
            <h2><a href="{% url 'profile' review.author.id %}">{{review.author}}</a>
            {% if user == review.author%}
            - <a href="{% url 'review_update' review.pk %}">Edit</a> - <a href="{% url 'review_delete' review.pk %}">Delete</a></h2>
            {% endif %}



    </div>
    <div>
        {% if user.is_authenticated %}
        <style>
            .commentContent{
                width: 100%;
                height: 3em;
                background-color: #4d2f2f;
                color: white;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                box-shadow: 1px 1px 1px <black></black>;
                outline-width: 0;
            }
        </style>
            <div class="commentCard">

                <div class="commentForm" style="display: flex; flex-direction row">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Post">
                    </form>
                </div>

            </div>
            
        {% endif %}

        {% for comment in review.comment_set.all%}
        <div class="commentCard">
            <div>
                <p>"{{ comment.comment }}"</p>
                <h2>- {{ comment.author }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>



</div>

    <div>
        <p>
            {{review.content}}
        </p>
    </div>
    </div>

    
{% endblock %}