{% extends "home.html" %}

{% block title %}{{review.title}}{% endblock title %}

{% block reviewDetail %}
    
    <div style="display: flex; flex-direction: column;">
        <div>
            <image src="{{review.thumbnail}}"></image>
        </div>
        <div>
            <h1>{{review.title}}</h1>
            <h2>{{review.author}} - <a href="{% url 'review_update' review.pk %}">Edit</a> - <a href="{% url 'review_delete' review.pk %}">Delete</a></h2>
        </div>
    </div>
    <div>
        <p>
            {{review.content}}
        </p>
    </div>
{% endblock %}